<div class="container">
  <h3 class=" text-center chat_header">Chat Application</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let msg of messages">
            <div class="incoming_msg" *ngIf="msg.status === MessageStatus.Delivered">
              <div class="incoming_msg_img"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{msg.message}}
                  </p>
                  <span class="time_date"> {{msg.date | date:'medium'}} </span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="msg.status === MessageStatus.Sent">
              <div class="sent_msg">
                <p>
                  {{msg.message}}
                </p>
                <span class="time_date"> {{msg.date | date:'medium'}}</span>
              </div>
            </div>

            <div class="outgoing_msg" *ngIf="msg.status === MessageStatus.Read">
              <div class="sent_msg">
                <p>
                  {{msg.message}}
                </p>
                <span class="time_date"> {{msg.date | date:'medium'}}</span>
              </div>
            </div>

          </div>
        </div>
 
<form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
  <input type="file" name="profile" (change)=" OnFileSelect($event)"/>
  <input type="text" name="textMessage" class="write_msg" [value]="txtMessage"
                (input)="txtMessage=$event.target.value" 
                placeholder="Type a message" />   
  <button  type="submit">Send Message</button>

</form>
</div> 